<header>
  {% load static %}
  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <img class="bi me-4" src="{% static 'img/panda-bear.png'%}" width="50" height="50">
        <span class="fs-4">My shop project</span>
      </a>
      {% with url_name=request.resolver_match.url_name %}
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="{% url 'homepage:homepage_main' %}" class="nav-link {% if url_name == 'homepage_main' %}active{% endif %}" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="{% url 'about:description' %}" class="nav-link {% if url_name == 'description' %}active{% endif %}">About</a></li>
        <li class="nav-item"><a href="{% url 'catalog:item_list' %}" class="nav-link {% if url_name == 'item_list' %}active{% endif %}">Item list</a></li>
      </ul>
      {% endwith %}
    </header>
  </div>
</header>